/* Animações
Nome: up
Transform: translate Y: de baixo para cima. 
Positivo: para baixo. Negativo: para cima. */

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}

/* New class.
Fill-mode: propriedades do to fiquem permanentes no elemento que contém a classe animate-up. */

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.animate-right {
    animation-name: right;
    animation-duration: 300ms;
}