
form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e3;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}

fieldset {
    border: 0;
}

/* Seletor +: irmão */

fieldset + fieldset {
    margin-top: 8rem;
}

fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block {
    margin-top: 2.4rem;
}

.input-block label {
    color: #8FA783;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.4rem;
    color: #87a7b3;
    margin-left: 2.4rem;
    line-height: 1.5;
}

/* Width: 100%. Quebra de linha */

.input-block textarea, .input-block input {
    width: 100%;
    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    color: #5c8599;
}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

/* Valid: validado/preenchido ao sair do input */

.input-block input:valid, .input-block textarea:valid {
    border: 1px solid #A1E9C5;
}

/* Resize: permite mudar de tamanho. Somente vertical */

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8rem;
}

/* Dashed: pontilhado */

.input-block.images button {
    border: 1px dashed #96d2f0;
    width: 100%;
    background: #f5f8fa;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
}